<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewQuestion</title>
</head>
<body>
    <form action="/newQuestion" method="POST">
        <h3>CREATE A NEW QUESTION</h3>
        <input name="question" placeholder="Enter a title" type="text"> <br>
        <input name="answer" placeholder="Enter an answer" type="text"> <br>
        <input name="type" placeholder="Enter a type" type="text"> <br>
        <button type="submit">ADD</button>
    </form>
</body>
</html>
